<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title><%= @title || Blog.title %></title>
	<link href="/main.css" rel="stylesheet" type="text/css" />
	<script src="/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="/application.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="header">
	<div id="logo2">
		<h1><a href="/"><%= Blog.title %></a></h1>
		<p>by <%= Blog.author %></p>
	</div>
</div>

<div id="content">
	<%= yield %>
</div>

<div id="footer">
	<p id="legal">
	&copy; 2010 | 
	Content by <a href="http://www.verysuperfluo.us">Mark Sands</a> | 
	Powered by <a href="http://www.github.com/marksands/scanty">scanty</a> | 
	Design adapted from <a href="http://www.freecsstemplates.org/preview/replenish">Replenish</a>	and modified by me | 
	Awesomely hosted by <a href="http://heroku.com/">heroku</a>
</div>
</body>
</html>
