#primary.aside.main-aside
  %ul.xoxo
    %li#text-324411682.widgetcontainer.widget_text
      %h3.widgettitle About me
      .textwidget
        %p= Blog.about 
        %p
          %a{:href => "/biography"} Read more
    %li#pages-2.widgetcontainer.widget_pages
      %h3.widgettitle Pages
      %ul
        %li.page_item.page-item-7
          %a{:href => "http://steflewandowski.com/biography/", :title => "About me"} About me
          %ul
            %li.page_item.page-item-30
              %a{:href => "http://steflewandowski.com/biography/awards/", :title => "Awards"} Awards
            %li.page_item.page-item-261
              %a{:href => "http://steflewandowski.com/biography/boards-etc/", :title => "Boards &amp; Membership"} Boards & Membership
            %li.page_item.page-item-25
              %a{:href => "http://steflewandowski.com/biography/music/", :title => "Music"} Music
            %li.page_item.page-item-33
              %a{:href => "http://steflewandowski.com/biography/technology/", :title => "Technology"} Technology
            %li.page_item.page-item-589
              %a{:href => "http://steflewandowski.com/biography/twitter/", :title => "Twitter"} Twitter
        %li.page_item.page-item-3
          %a{:href => "http://steflewandowski.com/contact/", :title => "Contact"} Contact
        %li.page_item.page-item-102
          %a{:href => "http://steflewandowski.com/mixes/", :title => "Mixes"} Mixes
        %li.page_item.page-item-39
          %a{:href => "http://steflewandowski.com/photography/", :title => "Photography"} Photography
          %ul
            %li.page_item.page-item-50
              %a{:href => "http://steflewandowski.com/photography/abstract/", :title => "Abstract"} Abstract
            %li.page_item.page-item-145
              %a{:href => "http://steflewandowski.com/photography/boke-bokeh/", :title => "Boke / Bokeh"} Boke / Bokeh
            %li.page_item.page-item-177
              %a{:href => "http://steflewandowski.com/photography/cannon-hill-park/", :title => "Cannon Hill Park"} Cannon Hill Park
            %li.page_item.page-item-472
              %a{:href => "http://steflewandowski.com/photography/cloretraits/", :title => "Cloretraits"} Cloretraits
            %li.page_item.page-item-95
              %a{:href => "http://steflewandowski.com/photography/hong-kong/", :title => "Impressions of Hong Kong"} Impressions of Hong Kong
            %li.page_item.page-item-43
              %a{:href => "http://steflewandowski.com/photography/monochrome/", :title => "Monochrome"} Monochrome
            %li.page_item.page-item-42
              %a{:href => "http://steflewandowski.com/photography/people/", :title => "People"} People
            %li.page_item.page-item-46
              %a{:href => "http://steflewandowski.com/photography/photomontage/", :title => "Photomontage"} Photomontage
            %li.page_item.page-item-49
              %a{:href => "http://steflewandowski.com/photography/reminiscent/", :title => "Reminiscent"} Reminiscent
            %li.page_item.page-item-48
              %a{:href => "http://steflewandowski.com/photography/thoughtfulness/", :title => "Thoughtfulness"} Thoughtfulness
        %li.page_item.page-item-477
          %a{:href => "http://steflewandowski.com/where-to-find-me-online/", :title => "Where to find me online"} Where to find me online